.parallax {
  position: relative;
  overflow: hidden;
  perspective: 1px;
  height: 100vh;
}

.parallax-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  will-change: transform;
}

.layer-chili-left {
  background-image: url("../img/cabai1.png");
  left: 5%;
  top: 50%;
  width: 250px;
  height: 250px;
  transform: translateY(-50%);
}

.layer-chili-right {
  background-image: url("../img/cabai1.png");
  right: 5%;
  top: 50%;
  width: 250px;
  height: 250px;
  transform: translateY(-50%);
}

.layer-main {
  background-image: url("../img/main\ rujak.png");
  width: 450px;
  height: 450px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Parallax scroll effect */
@media (prefers-reduced-motion: no-preference) {
  .parallax-layer {
    transition: transform 0.3s ease-out;
  }
}
